
<div [ngClass]="{'list-group-item-danger': postItem.loveIts < 0,
                'list-group-item-success': postItem.loveIts > 0 }">
<table width="100%">
	<tr>
		<td width="70%">
			<h1 [ngClass]="{'list-group-item-danger': postItem.loveIts < 0,
                'list-group-item-success': postItem.loveIts > 0 }">
                {{postItem.title}}
            </h1>
       </td>
       <td width="30%">
       	<h2>
       		<small>{{postItem.created_at| date : 'dd/MM/yyyy, hh:mm a'}}</small>
       	</h2>
       </td>
	</tr>
	<tr>
		<td colspan="2"><h4>{{postItem.content}}</h4></td>
	</tr>
	<tr>
		<td colspan="2">
      		<button class="btn btn-success" (click)="onLike()" >I Love It</button><button class="btn btn-danger" (click)="onDislike()" >I Don't Love It</button>
   		</td>
	</tr>
</table>
</div>
